<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murad.gradecalculator"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.murad.gradecalculator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.murad.gradecalculator.FinalGradeCalculatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_final_grade_calculator" >
        </activity>
        <activity
            android:name="com.murad.gradecalculator.GPACalculatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_gpacalculator" >
        </activity>
        <activity android:name="com.murad.gradecalculator.HelpPageActivity" >
        </activity>
        <activity
            android:name="com.murad.gradecalculator.SchoolActivity"
            android:label="@string/title_activity_school" >
        </activity>
    </application>

</manifest>
